@import "variables";

@font-face {
  font-family: "Logitail";
  src: url("#{$logitail-font-path}/logitail.eot?jpw15o");
  src: url("#{$logitail-font-path}/logitail.eot?jpw15o#iefix") format("embedded-opentype"),
  url("#{$logitail-font-path}/logitail.ttf?jpw15o") format("truetype"),
  url("#{$logitail-font-path}/logitail.woff?jpw15o") format("woff"),
  url("#{$logitail-font-path}/logitail.svg?jpw15o#logitail") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Logitail" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-pricetags {
  &:before {
    content: unicode($icon-pricetags);
  }
}

.icon-lightbulb {
  &:before {
    content: unicode($icon-lightbulb);
  }
}

.icon-profile-male {
  &:before {
    content: unicode($icon-profile-male);
  }
}

.icon-profile-female {
  &:before {
    content: unicode($icon-profile-female);
  }
}

.icon-map-pin {
  &:before {
    content: unicode($icon-map-pin);
  }
}

.icon-chat {
  &:before {
    content: unicode($icon-chat);
  }
}

.icon-refresh {
  &:before {
    content: unicode($icon-refresh);
  }
}

.icon-cart {
  &:before {
    content: unicode($icon-cart);
  }
}

.icon-heart {
  &:before {
    content: unicode($icon-heart);
  }
}

.icon-account {
  &:before {
    content: unicode($icon-account);
  }
}

.icon-search {
  &:before {
    content: unicode($icon-search);
  }
}

.icon-shipping {
  &:before {
    content: unicode($icon-shipping);
  }
}

.icon-return {
  &:before {
    content: unicode($icon-return);
  }
}

.icon-timing {
  &:before {
    content: unicode($icon-timing);
  }
}

.icon-marker {
  &:before {
    content: unicode($icon-marker);
  }
}

.icon-marker-solid {
  &:before {
    content: unicode($icon-marker-solid);
  }
}

.icon-facebook {
  &:before {
    content: unicode($icon-facebook);
  }
}

.icon-pintrest {
  &:before {
    content: unicode($icon-pintrest);
  }
}

.icon-linkedin {
  &:before {
    content: unicode($icon-linkedin);
  }
}

.icon-star-solid {
  &:before {
    content: unicode($icon-star-solid);
  }
}

.icon-star {
  &:before {
    content: unicode($icon-star);
  }
}

.icon-check {
  &:before {
    content: unicode($icon-check);
  }
}

.icon-zoom {
  &:before {
    content: unicode($icon-zoom);
  }
}

.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left);
  }
}

.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right);
  }
}

.icon-iron {
  &:before {
    content: unicode($icon-iron);
  }
}

.icon-iron-2 {
  &:before {
    content: unicode($icon-iron-2);
  }
}

.icon-wash {
  &:before {
    content: unicode($icon-wash);
  }
}

.icon-handwash {
  &:before {
    content: unicode($icon-handwash);
  }
}