$logitail-font-path: "../fonts" !default;

$icon-pricetags: "\e02f";
$icon-lightbulb: "\e030";
$icon-profile-male: "\e040";
$icon-profile-female: "\e041";
$icon-map-pin: "\e047";
$icon-chat: "\e049";
$icon-refresh: "\e05a";
$icon-cart: "\e900";
$icon-heart: "\e901";
$icon-account: "\e902";
$icon-search: "\e903";
$icon-shipping: "\e904";
$icon-return: "\e905";
$icon-timing: "\e906";
$icon-marker: "\e907";
$icon-marker-solid: "\e908";
$icon-facebook: "\e909";
$icon-pintrest: "\e90a";
$icon-linkedin: "\e90b";
$icon-star-solid: "\e90c";
$icon-star: "\e90d";
$icon-check: "\e90e";
$icon-zoom: "\e90f";
$icon-arrow-left: "\e910";
$icon-arrow-right: "\e911";
$icon-iron: "\e912";
$icon-iron-2: "\e913";
$icon-wash: "\e914";
$icon-handwash: "\e915";