@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/poppins-light-webfont.eot");
  src: url("../fonts/poppins-light-webfont.eot") format("embedded-opentype"),
  url("../fonts/poppins-light-webfont.woff") format("woff"),
  url("../fonts/poppins-light-webfont.woff2") format("woff2"),
  url("../fonts/poppins-light-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/poppins-regular-webfont.eot");
  src: url("../fonts/poppins-regular-webfont.eot") format("embedded-opentype"),
  url("../fonts/poppins-regular-webfont.woff") format("woff"),
  url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
  url("../fonts/poppins-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/poppins-medium-webfont.eot");
  src: url("../fonts/poppins-medium-webfont.eot") format("embedded-opentype"),
  url("../fonts/poppins-medium-webfont.woff") format("woff"),
  url("../fonts/poppins-medium-webfont.woff2") format("woff2"),
  url("../fonts/poppins-medium-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Semibold";
  src: url("../fonts/poppins-semibold-webfont.eot");
  src: url("../fonts/poppins-semibold-webfont.eot") format("embedded-opentype"),
  url("../fonts/poppins-semibold-webfont.woff") format("woff"),
  url("../fonts/poppins-semibold-webfont.woff2") format("woff2"),
  url("../fonts/poppins-semibold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/poppins-bold-webfont.eot");
  src: url("../fonts/poppins-bold-webfont.eot") format("embedded-opentype"),
  url("../fonts/poppins-bold-webfont.woff") format("woff"),
  url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
  url("../fonts/poppins-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

h1, h3 {
  font-family: "Poppins Light", sans-serif;
}

h2 {
  font-family: "Poppins Bold", sans-serif;
}

html, body, h4, h5, h6 {
  font-family: "Poppins Regular", sans-serif;
}